@font-face {
    font-family: 'bloomsburyscript';
    src: url('webfonts/bloomsbury-script-webfont.eot');
    src: url('webfonts/bloomsbury-script-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/bloomsbury-script-webfont.woff2') format('woff2'),
         url('webfonts/bloomsbury-script-webfont.woff') format('woff'),
         url('webfonts/bloomsbury-script-webfont.ttf') format('truetype'),
         url('webfonts/bloomsbury-script-webfont.svg#bloomsburyscript') format('svg');
    font-weight: normal;
    font-style: normal;
}