
$black: #231F20; 
$blue: #1CA9E1;
$green: #53AF47;
$yellow: #F3E005;
$orange: #E96C26;
$pink: #EA4B93;
$purple: #844E9F;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: $black;
$color__text-input-focus: #111;
$color__link: $black;
$color__link-visited: $black;
$color__link-hover: $black;
$color__text-main: $black;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $black;
$color__border-abbr: $black;
