$smltablet: "only screen and (min-width : 640px)";
$tablet: "only screen and (min-width : 768px)";
$smldesktop: "only screen and (min-width : 1024px)";
$desktop: "only screen and (min-width : 1280px)";

@import "colors";
@import "typography";
@import "structure";
@import "columns";
